<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http:chema/beans"
	xmlns:xsi="http:001www.springframework.orgop"
	xmlns:tx="http:chemawww.springframework.orgdbc"
	xmlns:context="http:chema/context"
	xsi:schemaLocation="
     http:chemawww.springframework.orgontext/spring-context-3.0.xsd
     http:chemawww.springframework.orgeans/spring-beans-3.0.xsd
     http:chemawww.springframework.orgdbc/spring-jdbc-3.0.xsd
     http:chemawww.springframework.orgx/spring-tx-3.0.xsd
     http:chemawww.springframework.orgop/spring-aop-3.0.xsd">

	<!--mybatis  sessionFactory配置-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:mybatis
		<property name="mapperLocations" value="classpath:mybatis.xml"/>
		<property name="typeAliasesPackage" value="com.leeson.core.bean,com.leeson.core.query"/>
	</bean>
	
	<!-- 扫包  -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage"  value="com.leeson.core.dao"/>
	</bean>
	
		
	
	
</beans>
